[submodule "BlinkEngine/submodules/spdlog"]
	path = BlinkEngine/submodules/spdlog
	url = https://github.com/gabime/spdlog
[submodule "BlinkEngine/submodules/GLFW"]
	path = BlinkEngine/submodules/GLFW
	url = https://github.com/buryakig/glfw
